body,div,ul,li{
margin: 0;
padding: 0;
}
#wrapper{
	width: 98,5%;
	
	margin-left: 1%;
	margin-right: 1%;
	
}
#header{
	background-color: green;
	border:2px solid red;
}
img{
	width: 200px;
	height: 200px;
	border: 2px black dotted;
	margin-top: 5px;
}
#content{
	margin-top: 2px;
	background-color: yellow;
	border: 2px solid red;
	height: 400px;
}
#footer{
	height:200px;
	padding-top: 5px;
	margin-top: 2px;
	background-color: red;
	color:yellow;
}
a{
	text-decoration: none;
}
#button{
	margin-left: 10%;
}